.chart-container {
  width: 100% !important;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px 20px;
  .chart-txt {
    h1 {
      font-weight: 600px;
      font-size: 20px;
      text-align: start;
      transition: all 0.3s ease !important;
    }
    h4 {
      display: none;
    }
  }

  .chart-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    .barchart {
      width: 100%; /* Kenglikni 100% qilib belgilaymiz */
      max-width: 1000px; /* Agar kerak bo'lsa maksimal kenglikni belgilash */
    }

    @media (max-width: 768px) {
      .barchart {
        height: 250px; /* 768px va undan kichik ekranlar uchun diagrammaning balandligini o'zgartirish */
      }

      .recharts-text {
        font-size: 10px; /* Textlar o'lchamini kichraytirish */
      }
    }
  }
}

// -------------- Dark mode -----------------
@media (prefers-color-scheme: dark) {
  .chart-container {
    background-color: #081225;
    .chart-txt {
      background-color: #081225 !important;
    }
    .chart-wrapper {
      background-color: #081225;
      border: 1px solid #2c2c2c;
    }
  }
}

// --------------- responsive ---------------
@media only screen and (max-width: 768px) {
  .chart-container {
    width: 100% !important;
    // margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    // overflow-x: hidden;
    .chart-txt {
      width: 100% !important;
      background-color: #fff;
      border-radius: 15px;
      padding: 15px 20px;

      h1 {
        display: none;
      }
      h4 {
        display: block;
      }
    }
    .chart-wrapper {
      display: none;
    }
  }
}
