header {
  width: 100%;
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 25px 40px;
  justify-content: flex-start;
  
  .search {
    border-radius: 40px;
    border: none;
    padding: 16px 20px;
    outline: none;
    font-size: 20px;
    width: 30%;
    background-color: #f0f3f4;
    color: #081225;
    font-weight: 500;
  }
  label {
    transform: translateX(-40px) translateY(3px);
    img {
      width: 24px;
      height: 24px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: #081225;
    color: #f0f3f4;
    .search {
      background-color: #f0f3f485;
      color: #ffffffd6;
      &::placeholder {
        color: #ffffffd6;
      }
    }
  }
}
